<p id="notice"><%= notice %></p>

<p>
  <strong>投稿:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>メッセージ:</strong>
  <%= @book.message %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
